@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  font-family: satoshi, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  button,
  label,
  input {
    font-family: inherit;
  }
}

body,
html {
  flex: 1;
  height: 100%;
}

a {
  text-decoration: none;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

body {
  background-color: theme("colors.neutral.100");
}
